@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/boostrap/dist/css/bootstrap.css";


:root {
--foreground-rgb: 0, 0, 0;
--background-start-rgb: 214, 219, 220;
--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
:root {
--foreground-rgb: 255, 255, 255;
--background-start-rgb: 0, 0, 0;
--background-end-rgb: 0, 0, 0;
}
}
/* 
body {
color: rgb(var(--foreground-rgb));
background: linear-gradient(
to bottom,
transparent,
rgb(var(--background-end-rgb))
)
rgb(var(--background-start-rgb));
} 
*/


/* Reset some default browser styles */
body,
html,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
code,
em,
img,
small,
strong,
sub,
sup,
button {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}

/* Set a base font and font size */
body {
font-family: Arial, sans-serif;
font-size: 16px;
line-height: 1.6;
}

/* Add your custom global styles below */
/* For example: */
.container {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}

/* You can define other global styles as needed */
